body{
    background-image: linear-gradient(rgb(0, 17, 255),rgb(255, 0, 242),rgb(255, 0, 85));
    height: 100%;
    margin-left: 20px;
}
.text1{
    font-size: 15vw;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}
.text2{
    font-size: 9vw;
    width: 100vw;
    margin-bottom: 50px;
}

.box{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 36vw;
    height: 66vw;
    background-color: black;
    border-radius: 16px;
}
.box::before{
    content: '';
    position: absolute;
    width: 600px;
    height: 700px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(255, 0, 234));
    animation: animate 4s linear infinite;
}
.box span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: black;
    z-index: 1;
}
.photo
{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.box2{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 40vw;
    height: 84.9vw;
    background-color: black;
    border-radius: 16px;
}
.box2::before{
    content: '';
    position: absolute;
    width: 800px;
    height: 900px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(251, 255, 0));
    animation: animate 4s linear infinite;
}
.box2 span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: black;
    z-index: 1;
}
.box3{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 70vw;
    height: 60vw;
    background-color: black;
    border-radius: 16px;
}
.box3::before{
    content: '';
    position: absolute;
    width: 800px;
    height: 900px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(0, 255, 55));
    animation: animate 4s linear infinite;
}
.box3 span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: black;
    z-index: 1;
}
.box4{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 40vw;
    height: 84.9vw;
    background-color: black;
    border-radius: 16px;
}
.box4::before{
    content: '';
    position: absolute;
    width: 800px;
    height: 900px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(255, 255, 255));
    animation: animate 4s linear infinite;
}
.box4 span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: black;
    z-index: 1;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg)
    }
}

.photoAndText1{
    margin-bottom: 350px;
    font-size: 11vw;
}
.textUnderPhoto{
    width: 90vw;
    font-size: 10vw;
    margin-top: -200px;
    margin-bottom: 100px;   
}
.photo1{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.photoAndText2{
    margin-bottom: 350px;
    font-size: 11vw;
}
.textUnderPhoto2{
    font-size: 10vw;
    margin-top: -300px;
    margin-bottom: 100px;
}
.photoAndText3{
    display: flex;
    justify-content: center;
}
.text3{
    font-size: 11vw; 
}
.textUnderPhoto3{
    margin-top: 10vw;
    font-size: 10vw;
}
.text4{
    margin-top: 12vw;
    font-size: 15vw;
}
.textUnderPhoto4{
    font-size: 10vw;
    
}